@import url('receita.css');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(0, 81%, 80%); }

@font-face {
    font-family: primeirafonte;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
}

@font-face {
    font-family: fontesecundaria;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3E5D8;
    font-family: fontesecundaria;
}

.conteudo__principal {
    width: 50vw;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 1.7em;
    border-radius: 16px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .conteudo__principal {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    /* <!-- CABECALHO --> */

    .cabecalho img {
        width: 100vw;
        border-radius: 0;
    }

    .cabecalho h1 {
        text-align: center;
    }

    .cabecalho p {
        display: flex;
        align-items: center;
        text-align: justify;
        word-wrap: break-word;
        width: 80%;
        margin: auto;
        padding: 0 1em 2em 1em;
    }

    /* <!-- SEÇÃO PREPARAÇÂO --> */

    .secao-preparacao {
        margin: auto;
        margin: 0 2em 0 2em;
        
    }

    /* <!-- SEÇÃO INGREDIENTES --> */

    .secao-ingredientes {
        padding: 2em 0 0 2em;
        
    }

    .secao-ingredientes hr {
        width: 90%;
    }

    /* <!-- SEÇÃO INTRODUÇÕES --> */

    .secao-introductions {
        padding: 0 2em;
    }

    /* <!-- SEÇÃO NUTRIÇÃO --> */

    .secao__nutrition {
        padding: 1em 2em 2em 2em;
    }

    /* <!-- RODAPÉ --> */

    .rodape {
        display: none;
    }
}

/* RODAPÉ */

.rodape {
    margin-top: 2em;
    padding: 3px;
    background-color: rgb(29, 6, 6);
    text-align: center;
    color: white;
}

.rodape .attribution a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.rodape .attribution a:hover {
    text-decoration: underline;
    color: #e7c29e;
}


